SpringNetWCF/Service References/ServiceReference1/HZ.CentralGateway.Entity.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HZ.CentralGateway.Entity.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HZ.CentralGateway.Entity.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HZ.ReservationGateway.Common.Data" />
  <xs:complexType name="ArrayOfHotelRoomTypeEx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelRoomTypeEx" nillable="true" type="tns:HotelRoomTypeEx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelRoomTypeEx" nillable="true" type="tns:ArrayOfHotelRoomTypeEx" />
  <xs:complexType name="HotelRoomTypeEx">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HZ.ReservationGateway.Common.Data" base="q1:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADSL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BedType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BedTypeShort" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BedWidth" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FloorPlace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasSomkeFree" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HotelArea" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HotelID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IsADSL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsADSLWifi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsHasWindow" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaxCheckInPeoNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoomNum" type="xs:int" />
          <xs:element minOccurs="0" name="RoomTypeID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HotelRoomTypeEx" nillable="true" type="tns:HotelRoomTypeEx" />
</xs:schema>