SpringNetWCF/Service References/ServiceReference1/HZ.ReservationGateway.Common.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HZ.ReservationGateway.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HZ.ReservationGateway.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element name="_x003C_CreateTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_IsDeleted_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_ModifyTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Timestamp_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>