SpringNetWCF/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HZ.CentralGateway.Entity.Common.View1" />
  <xs:element name="GetHotelInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HZ.CentralGateway.Entity.Common.View1" minOccurs="0" name="GetHotelInfoResult" nillable="true" type="q1:HotelView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>